*
{
    margin: 0;
    padding: 0;
}
body
{
    /*background: url('img/logo-bg.png') no-repeat;*/
    /*width: 100%;*/
    font-family: Helvetica;
}
h1
{
    font-family: 'Montserrat', sans-serif;

    margin-top: 50px;
    margin-bottom: 30px;

    text-align: center;
}
h3
{
    font-family: 'Montserrat', sans-serif;

    color: #f87469;
}

/* first menu begin */
ul.hr
{
    margin: 20px; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
ul.hr li
{
    display: inline; /* Отображать как строчный элемент */

    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}
ul.hr li a
{
    text-decoration: none;

    color: #583a11;
}
ul.menu-first
{
    text-align: right;
}
ul.hr li a.zvonok
{
    font-family: 'Helvetica', sans-serif;

    color: #bf9dd5;
}
/* first menu end*/

.wrapper
{
    text-align: center; /*располагаем содержимое блока по центру*/
}
.box
{
    display: inline-block; /*располагаем блоки в ряд по горизонтали*/
    margin-top: 10px;
    margin: 80px;
}
.box img{
    max-width: 50%;
}

/* second menu begin */
header
{
    background: url(img/bg-title.png) no-repeat;
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
       -moz-background-size: cover; /* Firefox 3.6+ */
         -o-background-size: cover; /* Opera 9.6+ */
            background-size: cover; /* Современные браузеры */
}
nav
{
    overflow: hidden;

    max-width: 100%;
    margin: 0 auto;
    padding: 35px 0;
}
.logo-box
{
    float: left;
    margin-bottom: 3%;
    margin-left: -35px;
}
.logo
{
    margin: 0;
    text-align: center;
}
.logo img{
    max-width: 100%;
}


ul.hs
{
    line-height: 120px;

    float: right;

    height: 5px;
    margin: 0;
    margin-right: 95px;
    padding-left: 0;

    list-style: none;

    text-align: center;
}
a
{
    position: relative;

    display: inline-block;

    text-decoration: none;
}
ul.hs li a
{
    color: #583a11;
}
ul.hs li
{
    display: inline-block;

    margin-left: 25px;

    transition: .5s linear;
}

ul.hs li a:after
{
    position: absolute;
    bottom: 45px;
    left: 0;

    width: 0;
    height: 2px;

    content: '';
    transition: all .5s linear;

    background: #583a11;
}
ul.hs li a:hover:after
{
    width: 100%;
}


@media screen and (max-width:568px)
{
    .logo-box
    {
        float: none;

        margin: 0 auto;
    }
    .text
    {
        display: none;
    }
    .menu-first
    {
        display: none;
    }
    .box
    {
        display: none;
    }
    h1
    {
        margin-top: 220px;
    }
    header
    {
        max-height: 165px;
    }
    ul.hr li a.zvonok
    {
        font-size: 14px;

        text-align: center;
    }
    ul.hs
    {
        float: none;

        margin: 0 25px;
    }
    ul.hs li:first-of-type
    {
        margin-left: 0;
    }
}

@media screen and (max-width:480px)
{
    .text
    {
        display: none;
    }
    .menu-first
    {
        display: none;
    }
    .box
    {
        display: none;
    }
    h1
    {
        margin-top: 220px;
    }
    nav
    {
        overflow: visible;
    }
    ul.hs
    {
        line-height: 50px;

        height: auto;
        margin: 25px 25px 0 25px;
    }
    ul.hs li
    {
        display: block;

        margin: 0;
    }
    ul.hs li:hover
    {
        background: rgba(0,0,0,.1);
    }
    ul.hs li a:after
    {
        content: none;
    }
}

/* second menu end */

/* up button */
/* button end */

/* footer */
footer{
    width: 100%;
    height: auto;
    background: #D9C7A9;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
footer a{
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}
footer nav a:hover{
    border-bottom: 1px solid black;
}
.social img{
    margin-left: 10px;
    margin-bottom: 10px;
}
.social img:hover{
    background: #000;
    border-radius: 50%;
}

.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:50px;
display:none;
text-indent:-9999px;
background: url('img/icon_top.png') no-repeat;
}














