* {
    margin: 0;
    padding: 0;
}
body {
    /*background: url('img/logo-bg.png') no-repeat;*/
    /*width: 100%;*/
    font-family: Helvetica;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #f87469;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #5d3b1d;
}
.phone {
    margin: 20px;
    /* Обнуляем значение отступов */
    padding: 4px;
    /* Значение полей */
    text-align: center;
}
/* first menu begin */

ul.hr {
    margin: 20px;
    /* Обнуляем значение отступов */
    padding: 4px;
    /* Значение полей */
    margin-right: 95px;
}
ul.hr li {
    display: inline;
    /* Отображать как строчный элемент */
    margin-right: 5px;
    /* Отступ слева */
    padding: 3px;
    /* Поля вокруг текста */
}
ul.hr li a {
    text-decoration: none;
    color: #583a11;
}
ul.menu-first {
    text-align: right;
}
ul.hr li a.zvonok {
    font-family: 'Helvetica', sans-serif;
    color: #bf9dd5;
}
/* first menu end*/

.wrapper, .rtl {
    text-align: center;
    /*располагаем содержимое блока по центру*/
}
.box {
    display: inline-block;
    /*располагаем блоки в ряд по горизонтали*/
    margin-top: 10px;
    margin: 80px;
}
.box img {
    max-width: 50%;
}
/* second menu begin */

header {
    background: url(img/bg-title.png) no-repeat;
    -webkit-background-size: cover;
    /* Safari 3.1+ и Chrome 4.0+ */
    -moz-background-size: cover;
    /* Firefox 3.6+ */
    -o-background-size: cover;
    /* Opera 9.6+ */
    background-size: cover;
    /* Современные браузеры */
}
nav {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    padding: 35px 0;
}
.logo-box {
    float: left;
    margin-top: 0.5%;
    margin-left: -35px;
}
.logo {
    margin: 0;
    text-align: center;
}
.logo img {
    max-width: 100%;
}
.pusto p {
    color: #fff;
}
p.thanks {
    font-size: 26px;
    margin-bottom: 30px;
}
p {
    text-align: center;
    line-height: 1.5;
}
p.copiright {
    text-align: center;
    font-size: 5px;
}
.dss {
    display: inline-block;
    /*располагаем блоки в ряд по горизонтали*/
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.dss img {
    max-width: 90%;
    border-radius: 50%;
}
.rtl {
    margin-bottom: 80px;
}
.mart {
    max-height: 30%;
    text-align: center;
}
ul.hs {
    line-height: 120px;
    max-width: 100%;
    float: right;
    height: 5px;
    margin: 0;
    margin-right: 95px;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
ul.hs li a {
    color: #583a11;
}
ul.hs li {
    display: inline-block;
    margin-left: 25px;
    transition: .5s linear;
}
ul.hs li a:after {
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 0;
    height: 2px;
    content: '';
    transition: all .5s linear;
    background: #583a11;
}
ul.hs li a:hover:after {
    width: 100%;
}
@media screen and (max-width:568px) {
    .logo-box {
        float: none;
        margin: 0 auto;
    }
    .logo{
        margin-left: -180px;
    }
    .text {
        display: none;
    }
    .menu-first {
        display: none;
    }
    .box {
        display: none;
    }
    .pusto {
        height: 130px;
    }
    .pusto p {
        color: #fff;
    }
    h1 {
        margin-top: 220px;
    }
    header {
        max-height: 165px;
    }
    ul.hr li a.zvonok {
        font-size: 14px;
        text-align: center;
    }
    ul.hs {
        float: none;
        margin: 0 25px;
    }
    ul.hs li:first-of-type {
        margin-left: 0;
    }
}
@media screen and (max-width:480px) {
    .text {
        display: none;
    }
    .menu-first {
        display: none;
    }
    .box {
        display: none;
    }
    h1 {
        margin-top: 220px;
    }
    nav {
        overflow: visible;
    }
    ul.hs {
        line-height: 50px;
        height: auto;
        margin: 25px 25px 0 25px;
    }
    ul.hs li {
        display: block;
        margin: 0;
    }
    ul.hs li:hover {
        background: rgba(0, 0, 0, .1);
    }
    ul.hs li a:after {
        content: none;
    }
}
/* second menu end */

/* up button */

/* button end */

/* footer */

footer {
    width: 100%;
    height: auto;
    background: #D9C7A9;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
footer a {
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}
footer nav a:hover {
    border-bottom: 1px solid #f81906;
}
.social img {
    max-width: 30%;
    margin-left: 10px;
    margin-bottom: 10px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.social img:hover {
    background: #f81906;
    border-radius: 50%;
}
/* footer end */

.select {
    color: #000;
    /* Цвет текста */
    font-weight: 700;
    /* Жирное начертание */
    margin-bottom: 20px;
}
.oglav1, .oglav2, .oglav3 {
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.5;
}

/* Up button */
.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
    text-indent: -9999px;
    background: url('img/icon_top.png') no-repeat;
}
/* zvonok */

/* Обратный звонок - начало*/

.modalbox-wrap {
    width: 150px;
    padding: 25px 35px 20px;
}
.popup-title {
    font-size: 20px;
    font-weight: 200;
    line-height: 35px;
    text-align: center;
    padding: 0 0 25px;
    color: ##807665;
}
.modalbox-wrap p {
    font-size: 14px;
    line-height: 24px;
    float: none;
    color: #000;
}
.modalbox-wrap ul {
    padding: 0 0 35px;
}
.modalbox-wrap ul li {
    font-size: 14px;
    line-height: 24px;
    position: relative;
    padding: 0 0 0 17px;
    color: #000;
}
.modalbox-wrap ul li:after {
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    content: ' ';
    border-radius: 50%;
    background: #ffa200;
}
#call input[type='text'] {
    font-family: 'Arial';
    font-size: 14px;
    width: 97%;
    height: 25px;
    margin: 0 0 13px;
    padding: 0 0 0 3%;
    color: #000;
    border: 1px solid #ddd;
    background: #e8ecea;
}
#call input[type='submit'] {
    font-size: 20px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #e8ecea;
    border: none;
    border-top: 3px solid #89e5f7;
    background: #02bbdd;
    background: -moz-linear-gradient(top, #02bbdd 0%, #018bae 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02bbdd), color-stop(100%, #018bae));
    background: -webkit-linear-gradient(top, #02bbdd 0%, #018bae 100%);
    background: -o-linear-gradient(top, #02bbdd 0%, #018bae 100%);
    background: -ms-linear-gradient(top, #02bbdd 0%, #018bae 100%);
    background: linear-gradient(to bottom, #02bbdd 0%, #018bae 100%);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .82);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02bbdd', endColorstr='#018bae', GradientType=0);
}
#call input[type="submit"]:hover {
    /*border-color: #ffac30;*/
    background: #ffac30;
    background: -moz-linear-gradient(top, #ffac30 0%, #f0ae30 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffac30), color-stop(100%, #f0ae30));
    background: -webkit-linear-gradient(top, #ffac30 0%, #f0ae30 100%);
    background: -o-linear-gradient(top, #ffac30 0%, #f0ae30 100%);
    background: -ms-linear-gradient(top, #ffac30 0%, #f0ae30 100%);
    background: linear-gradient(to bottom, #ffac30 0%, #f0ae30 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac30', endColorstr='#f0ae30', GradientType=0);
}
.b5-left input[type="text"].error, #call input[type="text"].error {
    border: 1px solid #f00;
}
.b5-captcha {
    margin-bottom: 10px;
}
#call {
    display: none;
}
.zakaz-zvonka {
    width: 200px;
    height: 30px;
    background: #FE1200;
    text-align: center;
    font: 17px/30px georgia, arial, helvetica, serif;
    margin: 15px 0 0 3px;
}
.zakaz-zvonka:hover {
    width: 200px;
    background: #F39200;
    text-align: center;
    font: 17px/30px georgia, arial, helvetica, serif;
}
.zakaz-zvonka a {
    text-decoration: none;
    color: white;
    height: 100%;
    display: block;
}
/* Обратный звонок - конец*/

/*Button
button{
    margin-left: 70px;
}
.cool-css-button {
    text-align: center;
  background: #2fc7f7;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  padding: 0 25px;
  border-radius: 4px;
  box-shadow: inset 0 -15px 15px 0 #1ca9d5, 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: #20b1df 1px solid;
}
.cool-css-button:hover {
  background: #55d5fd;
  box-shadow: none;
}
.cool-css-button:active {
  background: #2fc7f7;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}*/
a.button {
    margin-top: 10px;
    margin-left: 70px;
  position: relative;
  z-index: 1;
  color: black;
  font-size: 135%;
  font-weight: 700;
  text-decoration: none;
  padding: .25em .5em;
}
a.button:after {
  content: "Купить";  /* здесь 6 букв */
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: -2px;
  width: calc(100% + 6*(1em*90/135) - 2px*2*2);  /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
  text-align: right;
  color: #fff;
  font-size: 90%;
  padding: .25em .5em;
  border-radius: 5px;
  border: 2px solid #d6bf96;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  background: linear-gradient(#dbc7a8, #dac9ae) no-repeat 100% 0;
  background-size: calc(6*(1em*90/135) + .5em) 100%;
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,0);
  transition: .3s;
}
a.button:hover:after {
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
}
a.button:active:after {
  background-image: linear-gradient(#dac9ae, #dbc7a8);
}