.article-list {
  color: #313437;
  background-color: #fff;
}

.article-list p {
  color: #7d8285;
}

.article-list h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .article-list h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.article-list .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.article-list .intro p {
  margin-bottom: 0;
}

.article-list .articles {
  padding-bottom: 40px;
}

.article-list .item {
  padding-top: 50px;
  min-height: 425px;
  text-align: center;
}

.article-list .item .name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  color: inherit;
}

.article-list .item .description {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0;
}

.article-list .item .action {
  font-size: 24px;
  width: 24px;
  margin: 22px auto 0;
  line-height: 1;
  display: block;
  color: #4f86c3;
  opacity: 0.85;
  transition: opacity 0.2s;
  text-decoration: none;
}

.article-list .item .action:hover {
  opacity: 1;
}

.row {
  margin-top: 30px;
}

.product-small {
  height: 500px;
  padding-top: 40px;
  margin: 0 0 0 10px;
  text-align: center;
}

.product-grid {
  padding-right: 10px;
}

.product-small-autor {
  margin: 0 0 10px 10px;
}

.cena {
}

.row.product-large {
  margin-top: 5px;
}

.product-block {
  margin-bottom: 10px;
}

.text-white.thumb {
  text-decoration: none;
}

.nav.navbar-nav.text-center.text-lg-right.text-xl-right.d-md-flex.d-lg-flex.flex-grow-1.justify-content-between.mx-auto.justify-content-md-center.justify-content-lg-end.justify-content-xl-center.align-items-xl-center {
  display: inline-table;
}

.nav-link.text-center.d-xl-flex.justify-content-xl-end {
  margin-left: 10px;
  margin-right: 0;
}

.nav.navbar-nav.text-center.text-lg-right.text-xl-right.d-md-flex.d-lg-flex.flex-grow-1.justify-content-between.justify-content-md-center.justify-content-lg-end.justify-content-xl-center.align-items-xl-center {
  width: 100%;
}

@media (min-width: 1400px) {
  .row.no-gutters.product-grid {
    max-width: 90%;
    margin-left: 5%;
  }
}

@media (min-width: 1400px) {
  .nav.navbar-nav.text-center.text-lg-right.text-xl-right.d-md-flex.d-lg-flex.flex-grow-1.justify-content-between.justify-content-md-center.justify-content-lg-end.justify-content-xl-end.align-items-xl-center {
    margin-right: 30px;
  }
}

@media (min-width: 1400px) {
  #navcol-1 {
    margin-right: 30px;
  }
}

@media (min-width: 1400px) {
  .nav-item.text-justify.d-xl-flex.justify-content-xl-center {
    margin-right: 50px;
  }
}

@media (min-width: 1400px) {
  .nav-item {
    margin-right: 50px;
  }
}

@media (min-width: 1400px) {
  .text-capitalize.text-center.d-xl-flex.justify-content-xl-center.align-items-xl-center.slogan {
    margin-left: 90px;
    font-family: 'Open Sans';
    text-decoration: none;
    max-width: 110px;
    color: #76471b;
  }
}

@media (min-width: 1200px) {
  .text-capitalize.text-center.d-xl-flex.justify-content-xl-center.align-items-xl-center.slogan {
    margin-left: 30px;
    font-family: 'Open Sans';
    text-decoration: none;
    max-width: 110px;
    color: #76471b;
  }
}

@media (min-width: 1400px) {
  .logo-card {
    margin-left: 100px;
  }
}

@media (min-width: 1400px) {
  .navbar-brand.text-lowercase.text-left.d-xl-flex.justify-content-xl-center.brand-logo {
    margin-left: 100px;
  }
}

.text-uppercase.text-center.text-white.bg-dark.border-white.shadow-none.title-head {
  opacity: 0.6;
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: lighter;
}

.text-uppercase.text-center.text-white.bg-dark.shadow-none.title-head {
  font-weight: lighter;
  opacity: 0.6;
  margin-bottom: 10px;
  font-size: 45px;
}

.navbar.navbar-light.navbar-expand-xl.bg-white.shadow-sm.nav-space {
}

.navbar.navbar-light.navbar-expand-lg.sticky-top.bg-light.text-sm-center.text-md-center.shadow-none.nav-space-up {
}

@media (min-width: 1190px) {
  .text-capitalize.text-center.d-xl-flex.justify-content-xl-center.align-items-xl-center.slogan-one {
    font-family: 'Bad Script', cursive;
    color: #825512;
    max-width: 110px;
    text-decoration: blink;
    display: none;
  }
}

@media (min-width: 300px) {
  .navbar-brand.text-left.slogan-small {
    margin-left: -50px;
  }
}

@media (min-width: 536px) {
  .logo-left {
    max-height: 101px;
  }
}

@media (max-width: 1400px) {
  .text-capitalize.text-center.d-xl-flex.justify-content-xl-center.align-items-xl-center.slogan-two {
    display: none;
  }
}

